/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font family 
font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif
*/

html,body{
    overflow-x: hidden;
}

/* Global attributes */

:root{
    /* Primary */
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);

    /* Neutral (text) */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);

    /* Background gradient - Intro/CTA mobile nav: */
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

.showcase{
    position: relative;
    background-image: url(./images/bg-pattern-intro-mobile.svg);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color: rgb(239 86 86);
    border-bottom-left-radius: 5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    height: 600px;
}

/* Navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 .5rem;
}

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
}

.activator-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    display: none;
}

.show{
    display: flex;
}

/* Mobile Navigation options */

.dropdowns{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1.5rem 0;
    background-color: var(--white);
    min-height: 24.5rem;
    height: auto;
    width: 90%;
    left: 5%;
    right: 30%;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    font-family: 'Overpass', sans-serif;
    z-index: 1;
}

ul .dropdown{
    list-style-type: none;
    padding: .8rem;
}

ul .dropdown a{
    text-decoration: none;
    color: var(--very-dark-grayish-blue);
    text-align: center;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 .5rem;
}

.details summary{
    display: flex;
    justify-content: center;
}

.details summary:hover{
    cursor: pointer;
}

.drop{
    text-align: center;
    font-size: 1.3rem;
    color: var(--very-dark-blue);
}

.rotate-arrow{
    transform: rotate(178deg);
    transition: all 0.3s ease;
}

.gray-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: hsl(240, 2%, 88%);
    border-radius: .5rem;
    width: 100%;
}

.gray-show ul li{
    list-style-type: none;
    padding: .5rem 0;
    text-align: center;
    color: var(--very-dark-blue);
}

.line{
    display: block;
    background-color: var(--very-dark-grayish-blue);
    width: 90%;
    height: .5px;
    margin: 1rem 0;
}

.dropdowns .buttons{
    display: flex;
    flex-direction: column;
}

.dropdowns .buttons button{
    margin: .5rem 0;
    padding: .5rem 1.5rem;
}

.dropdowns .buttons .login{
    background: transparent;
    border: none;
    font-size: 1.3rem;
    color: var(--very-dark-blue);
}

.dropdowns .buttons .sign-up{
    background: linear-gradient(var(--Very-light-red), var(--Light-red));
    color: var(--white);
    font-size: 18px;
    margin: .5rem .5rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

/* Header/Showcase Section */

.header{
    position: relative;
    top: 20%;
}

.header .showcase-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase-text h1{
    width: 90%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

.showcase-text p{
    font-size: 1.2rem;
    width: 80%;
    margin-top: .2rem;
    margin-bottom: 2.5rem;
    font-family: 'Overpass', sans-serif;
    color: var(--grayish-blue);
    text-align: center;
}

.showcase-buttons button{
    font-size: 18px;
    margin: .5rem .5rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
}

.showcase-buttons .free{
    color: var(--light-red);
}

.showcase-buttons .learn{
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}

/* Design Section */

.design{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 3rem 0;
}

.design h1{
    font-size: 1.8rem;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 1rem;
    color: var(--very-dark-blue);
}

.design-img{
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
}

.design-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.5rem 0;
}

.design-texts h1{
    width: 80%;
    text-align: center;
}

.design-texts p{
    width: 85%;
    font-size: 1rem;
    text-align: center;
    color: var(--very-dark-grayish-blue);
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem; 
}

/* State of the art */
.sota{
    position: relative;
}

.sota-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Very-dark-desaturated-blue);
    margin-top: 15rem;
    height: 100vh;
    overflow: hidden;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

img#phone{
    position: absolute;
    /* bottom: -700px; */
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    max-width: 418px;
    z-index: 1;
}

.phones img#circle{
    position: absolute;
    top: -200px;
    right: -120px;
    width: 160%;
    z-index: 0;
    opacity: 90%;
}

.sota-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    z-index: 1;
}

.sota-text h1,
.sota-text p{
    text-align: center;
}

.sota-text h1{
    font-size: 2.5rem;
    margin: 1rem 0;
    font-family: 'Overpass', sans-serif;
    color: var(--white);
}

.sota-text p{
    width: 90%;
    line-height: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--grayish-blue);
}

/* Features */
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.features-texts{
    margin: 1rem 0;
}

.features-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0 4rem 0;
}

.features-text h1{
    font-size: 1.8rem;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 1rem;
    color: var(--very-dark-blue);
}

.features-text p{
    width: 85%;
    font-size: 1rem;
    color: var(--very-dark-grayish-blue);
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;
}

/* Footer */

.footer{
    padding: 2.5rem 0;
    height: auto;
    min-height: 500px;
    background-color: var(--Very-dark-gray-blue);
    border-top-right-radius: 5rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.list{
    margin-bottom: 2rem;
}

footer p{
    font-family: 'Overpass', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: var(--white);
}

footer ul{
    list-style-type: none;
}

footer ul li{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5rem;
    color: var(--grayish-blue);
}

.light{
    display: none;
}

/* Laptop version */
@media screen and (min-width: 1024px){
    .inactive{
        display: flex;
    }

    .line,
    .activator-buttons{
        display: none;
    }

    .showcase{
        height: 470px;
        align-items: center;
    }

    .dark{
        display: none;
    }

    .light{
        display: inline;
    }

    .whole-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .logo img{
        width: 100px;
    }

    .dropdowns{
        position: static;
        flex-direction: row;
        min-width: 800px;
        width: 100%;
        min-height: 0;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        background-color: transparent;
        box-shadow: none;
    }

    .details{
        margin-left: 1rem;
        width: 50%;
    }

    .details ul{
        display: flex;
        flex-direction: row;
        height: auto;
        list-style-type: none;
    }

    .dropdown{
        position: relative;
    }
    
    .gray-show{
        position: absolute;
        height: auto;
        left: -1%;
        box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
        z-index: 1;
    }

    .gray-show ul{
        flex-direction: column;
    }

    .gray-show li a:hover{
        font-weight: 600;
        color: var(--very-dark-black-blue);
    }

    .drop{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--grayish-blue);
    }

    .drop:hover{
        color: var(--white);
        text-decoration: underline;
    }

    .showcase .buttons{
        flex-direction: row;
        gap: 1rem;
    }

    .dropdowns .buttons .login{
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Ubuntu', sans-serif;
        color: var(--white);
    }

    .dropdowns .buttons .sign-up{
        color: var(--Light-red);
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 1.2rem;
        cursor: pointer;
        font-family: 'Overpass', sans-serif;
        background: var(--white);
    }

    .dropdowns .buttons .sign-up:hover,
    .showcase-buttons .free:hover{
        color: var(--white);
        background: var(--very-light-red);
        cursor: pointer;
    }

    .showcase-text h1{
        width: 100%;
        font-size: 2.9rem;
        margin: 0.5rem;
    }

    .showcase-buttons .free{
        background: var(--white);
    }

    .showcase-buttons .learn:hover{
        color: var(--light-red);
        background: var(--white);
        cursor: pointer;
    }
    
}
